In [23]:
import yfinance as yf
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import talib
import datetime
from scipy.interpolate import griddata
from matplotlib import cm

In [8]:
stk = yf.download('SPY, AAPL')
adj = stk['Close']
adj

[*********************100%***********************]  2 of 2 completed

Ticker            AAPL         SPY
Date
1980-12-12    0.098834         NaN
1980-12-15    0.093678         NaN
1980-12-16    0.086802         NaN
1980-12-17    0.088951         NaN
1980-12-18    0.091530         NaN
...                ...         ...
2024-12-16  251.039993  604.754578
2024-12-17  253.479996  602.262939
2024-12-18  248.050003  584.313416
2024-12-19  249.789993  584.133972
2024-12-20  254.490005  591.150024

[11099 rows x 2 columns]

# Resampling

In [ ]:
# convert days data to month
adj.resample('1M', label='left').last()  # label = left uses label for previous month

/tmp/ipykernel_24826/3826324868.py:2: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  adj.resample('1M', label='left').last()

Ticker            AAPL         SPY
Date
1980-11-30    0.117313         NaN
1980-12-31    0.097116         NaN
1981-01-31    0.091100         NaN
1981-02-28    0.084224         NaN
1981-03-31    0.097545         NaN
...                ...         ...
2024-07-31  228.748337  560.071289
2024-08-31  232.743942  571.835388
2024-09-30  225.661728  566.732605
2024-10-31  237.330002  600.528809
2024-11-30  254.490005  591.150024

[529 rows x 2 columns]

In [ ]:
adj.resample('1M').ohlc() # ohlc generates open high low close for the resampled time period

/tmp/ipykernel_24826/2498299328.py:1: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  adj.resample('1M').ohlc() # label = left uses label for previous month

Ticker            AAPL                                             SPY  \
                  open        high         low       close        open
Date
1980-12-31    0.098834    0.123758    0.086802    0.117313         NaN
1981-01-31    0.118602    0.118602    0.097116    0.097116         NaN
1981-02-28    0.091530    0.098834    0.081646    0.091100         NaN
1981-03-31    0.091530    0.091959    0.074341    0.084224         NaN
1981-04-30    0.083365    0.100553    0.083365    0.097545         NaN
...                ...         ...         ...         ...         ...
2024-08-31  217.867844  229.537460  206.762924  228.748337  539.533630
2024-09-30  222.525177  232.743942  216.082275  232.743942  548.545593
2024-10-31  225.961411  236.220108  221.446365  225.661728  566.712646
2024-11-30  222.665024  237.330002  221.766006  237.330002  569.124512
2024-12-31  239.589996  254.490005  239.589996  254.490005  601.605225

Ticker
                  high         low       close
Date
1980-12-31         NaN         NaN         NaN
1981-01-31         NaN         NaN         NaN
1981-02-28         NaN         NaN         NaN
1981-03-31         NaN         NaN         NaN
1981-04-30         NaN         NaN         NaN
...                ...         ...         ...
2024-08-31  560.071289  514.067749  560.071289
2024-09-30  571.835388  536.900574  571.835388
2024-10-31  582.629089  565.895386  566.732605
2024-11-30  600.528809  567.898621  600.528809
2024-12-31  605.771179  584.133972  591.150024

[529 rows x 8 columns]

In [27]:
adj.resample('1ME', offset='7D').ohlc()

Ticker            AAPL                                             SPY  \
                  open        high         low       close        open
Date
1980-12-31    0.098834    0.111726    0.086802    0.111726         NaN
1981-01-31    0.122039    0.123758    0.103992    0.112585         NaN
1981-02-28    0.110867    0.110867    0.083365    0.083365         NaN
1981-03-31    0.084654    0.091959    0.074341    0.091530         NaN
1981-04-30    0.089810    0.100553    0.083365    0.100553         NaN
...                ...         ...         ...         ...         ...
2024-08-31  216.999817  226.590698  206.762924  226.590698  534.963074
2024-09-30  226.930328  229.537460  216.082275  226.221115  557.199768
2024-10-31  227.120117  236.220108  221.446365  230.316620  569.383606
2024-11-30  231.155685  233.413193  221.766006  229.869995  577.097656
2024-12-31  232.869995  254.490005  232.869995  254.490005  595.525696

Ticker
                  high         low       close
Date
1980-12-31         NaN         NaN         NaN
1981-01-31         NaN         NaN         NaN
1981-02-28         NaN         NaN         NaN
1981-03-31         NaN         NaN         NaN
1981-04-30         NaN         NaN         NaN
...                ...         ...         ...
2024-08-31  558.531189  514.067749  558.531189
2024-09-30  567.759094  536.900574  567.759094
2024-10-31  582.629089  565.895386  577.296997
2024-11-30  596.751526  566.732605  593.512451
2024-12-31  605.771179  584.133972  591.150024

[529 rows x 8 columns]